<div class="list-container">

    <student-list-header>
        <app-search (searched)="searchService.setSearchedStudent($event)" [placeholder]="'Search by name'"> </app-search>
        <app-search (searched)="searchService.setSearchedTag($event)" [placeholder]="'Search by tag'"> </app-search>
    </student-list-header>

    <div class="list-content-wrapper">
        <ul>
            <li *ngFor="let student of students | async | searchFilter: searchService.getSearchedStudent() | tagSearchFilter: searchService.getSearchedTag()">
                <app-student *ngIf="student" [student]=student [tags]="getStudentTags(student.id)"></app-student>
            </li>
        </ul>
    </div>
</div>