.list-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 60vw;
    background-color: #ffffff;
    overflow-x: hidden;
    border-radius: 1%;
    align-items: stretch;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.list-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 8em;
}

.list-content-wrapper ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.list-container::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.list-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}