.tag-wrapper {
    background-color: #E0E0E0;
    padding: 0.8em;
    border-radius: 8%;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.tag-container {
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}