.collapsible-container {
    padding: 2em;
    border-bottom: solid 3px #f8f8f8;
}

.wrapper-collapsible-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collapsible-button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 4.5em;
    color: #A9A9A9;
    font-family: 'Dosis', sans-serif;
    line-height: 0px;
}

.wrapper-button button :visited {
    border: none;
}

.wrapper-button button :focus {
    border: none;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.wrapper-collapsible-content {
    padding: 0em 2em;
    padding-top: 1em;
}