<div class="collapsible-container">

    <div class="wrapper-collapsible-header">
        <div class="wrapper-collapsible-header-content">
            <ng-content select="[header]"></ng-content>
        </div>
        <div class="wrapper-collapsible-header-controls">
            <button *ngIf="!open" (click)="onToggle()" class="collapsible-button">+</button>
            <button *ngIf="open" (click)="onToggle()" class="collapsible-button">-</button>
        </div>
    </div>
    <!-- end wrapper collapsible header -->

    <div *ngIf="open" class="wrapper-collapsible-content">
        <ng-content></ng-content>
    </div>

</div>
<!-- end collapsible container -->