h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 0px;
    letter-spacing: -1px;
}

.student-container {
    display: flex;
}

.profile-picture {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}

.contact-info {
    li {
        font-family: 'Raleway', sans-serif;
        color: #A2A2A2;
        font-size: 1.2em;
        list-style-type: none;
        padding-bottom: 0.2em;
        letter-spacing: -1px;
    }
    ul {
        padding-left: 1.5em;
        padding-top: 0.5em;
    }
}

.wrapper-contact-info {
    display: flex;
    flex-direction: column;
}

.wrapper-profile-picture {
    padding: 0em 1.5em 0em 0em;
}

.wrapper-profile {
    display: flex;
    flex-direction: row;
}

.student-container {
    padding: 0em 2em;
}

.grade-list {
    padding-left: 120px;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.grade-list ul {
    padding-left: 2.5em; // Need to add the padding from the profile picture and the information list
    list-style-type: none;
    color: #A2A2A2;
}

#grade-text-label {
    padding-right: 1.5em;
}