<app-collapsible>
    <div header class="student-container">

        <div class="wrapper-profile-picture">
            <img class="profile-picture" src="{{student?.pic}}" alt="Student profile picture ">
        </div>

        <div class="wrapper-contact-info">
            <div class="contact-info">
                <h1>{{student?.firstName}} {{student?.lastName}}</h1>
                <ul>
                    <li>Email: {{student?.email}}</li>
                    <li>Company: {{student?.company}}</li>
                    <li>Skill: {{student?.skill}}</li>
                    <li>Average: {{average}}</li>
                </ul>

            </div>
            <div *ngIf="tags" class="wrapper-tag-list">
                <app-tag-list [studentId]="student.id" [tags]="tags"></app-tag-list>
            </div>
        </div>


    </div>

    <div class="grade-list">
        <ul>
            <li *ngFor="let grade of student.grades; let indexOfGrade=index;">
                <span id="grade-text-label">Test {{indexOfGrade+1}}: </span>
                <span id="grade-text-value">{{grade}}%</span>
            </li>
        </ul>
    </div>
</app-collapsible>