.search-wrapper {
    width: 60vw;
    height: 3.5em;
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(255, 255, 255, 0.568), 0 15px 12px rgba(255, 255, 255, 0.534);
    padding-top: 0.5em;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.search-input {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin: 0vw 1vw;
    height: 2em;
    width: 58vw;
    border: none;
    border-bottom: 1px solid #bebdbd;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 0em;
    letter-spacing: -1px;
}