.tag-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-top: 0.5em;
}

.tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
    justify-content: flex-start;
}

.tag-input {
    height: 2em;
    width: 10em;
    border: none;
    border-bottom: 1px solid #bebdbd;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    letter-spacing: -1px;
}