<div class="tag-list-container">
    <div *ngIf="tags.length >0" class="tag-list">
        <app-tag *ngFor="let tag of tags" [tag]="tag"></app-tag>
    </div>

    <div class="tag-input-wrapper">
        <input type="text" class="tag-input" [formControl]="tagInput" (keyup)="addTag($event)" placeholder="Add a tag">
    </div>
</div>